{% extends "base.html" %} <!-- Extend your base layout -->
{% block content %}

<style>

  /* stocks_dashboard/static/stocks_dashboard/css/styles.css */
.stock-table {
    width: 100%;
    border-collapse: collapse;
}
.stock-table th, .stock-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.stock-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.stock-table tr:nth-child(even){background-color: #f2f2f2;}
.stock-table tr:hover {background-color: #ddd;}


[data-box="contanier"] {
            width: 300px;
            height: 200px;
        }



</style>


<!--CPU Cache starts here-->
<section>
        <h1>CPU Cache</h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js " integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin=" anonymous "></script>
        <!-- <script src="./libs/js/Chart.bundle.min.js"></script> -->
        <section>
            <div data-box="contanier">
                <canvas id="myChart" width="300" height="200"></canvas>
            </div>
            <script>
                let data = [12];
                // let data = [12, 19, 3, 5, 2, 3, 12, 9, 3, 15];
                let labels = [" ", " ", " ", " ", " ", " ", " ", " ", " ", " "];
                const RepeatArrayGenerator = (datas = [], num = 1, debug = false) => {
                    let result = ``;
                    // do something...
                    let str = `${datas.toString()},`;
                    str = str.repeat(num);
                    str = str.slice(0, str.length - 1);
                    result = str.split(`,`);
                    result = result.map(item => {
                        let newItem = "";
                        newItem = (item.trim() !== "") ? parseFloat(item) : "";
                        return newItem;
                    });
                    if (debug) {
                        console.log(`result =\n`, result);
                    }
                    return result;
                };
                // data = RepeatArrayGenerator(data, 6);
                labels = RepeatArrayGenerator(labels, 1);
                console.log(`labels =`, labels);
                // data = data.concat(data);
                // labels = labels.concat(labels);
                // let data = [12, 19, 3, 5, 2, 3, 12, 9, 3, 15];
                // let labels = [" ", " ", " ", " ", " ", " ", " ", " ", " ", " "];
                var ctx = document.getElementById("myChart").getContext("2d");
                // Global point options
                Chart.defaults.global.elements.point.pointStyle = "circle";
                // Chart.defaults.global.elements.point.pointStyle = "line";
                Chart.defaults.global.elements.point.radius = 0;
                var myChart = new Chart(ctx, {
                    // type: "bar ",
                    type: "line",
                    data: {
                        labels: labels,
                        datasets: [{
                            label: "CPU Cache",
                            data: data,
                            backgroundColor: [
                                "rgba(255, 99, 132, 0.2)",
                                "rgba(54, 162, 235, 0.2)",
                                "rgba(255, 206, 86, 0.2)",
                                "rgba(75, 192, 192, 0.2)",
                                "rgba(153, 102, 255, 0.2)",
                                "rgba(255, 159, 64, 0.2)"
                            ],
                            borderColor: [
                                "rgba(255,99,132,1)",
                                "rgba(54, 162, 235, 1)",
                                "rgba(255, 206, 86, 1)",
                                "rgba(75, 192, 192, 1)",
                                "rgba(153, 102, 255, 1)",
                                "rgba(255, 159, 64, 1)"
                            ],
                            borderWidth: 1,
                            fill: "start",
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        elements: {
                            line: {
                                tension: 0,
                                // no smooth
                            }
                        }
                    }
                });
                // update
                let datas = [12, 19, 3, 5, 2, 3, 12, 9, 3, 15];
                datas = RepeatArrayGenerator(datas, 10);
                for (let i = 0; i < datas.length; i++) {
                    setTimeout(() => {
                        if (data.length > 9) {
                            data.push(datas[i]);
                            // console.log(`data =\n`, data);
                            let newData = datas[i],
                                oldData = [];
                            oldData = data.slice(data.length - 9, data.length);
                            oldData.push(newData);
                            data = oldData;
                            // console.log(`oldData =`, oldData);
                            myChart.data.datasets[0].data = data;
                            myChart.update(0);
                        } else {
                            data.push(datas[i]);
                            myChart.data.datasets[0].data = data;
                            myChart.update(0);
                        }
                    }, i * 1000);
                }
                // let flag = setInterval(() => {
                //     let newData = data[0],
                //         oldData = data.slice(1);
                //     oldData.push(newData)
                //     data = [].concat(oldData);
                //     myChart.data.datasets[0].data = data;
                //     myChart.update(0);
                //     // disable animation
                // }, 1000);
            </script>
        </section>
    </section>



<!--CPU cache ends here-->


    <h1 class="mb-4">The Charts Cruncher AI Panel</h1>
    <h2 class="mb-4">Bullish Stock Symbols</h2>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Percentage of First Target</th>
          <th>Stop Loss</th>
          <th>First Target</th>
          <th>Second Target</th>
          <th>Target Met?</th>
        </tr>
      </thead>
      <tbody>
        {% for symbol in bullish_symbols %}
        <tr>
          <td><a href="{% url 'stock_detail' symbol=symbol.symbol %}">{{ symbol.symbol }}</a></td>
          <td>{{ symbol.current_price }}</td>
          <td>{{ symbol.percentage }}%</td>
          <td>{{ symbol.stop_loss }}</td>
          <td>{{ symbol.first_target }}</td>
          <td>{{ symbol.second_target }}</td>
          <td>{{ symbol.target_met|yesno:"Yes,No" }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 class="mb-4">Futures & Options</h2>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Percentage of First Target</th>

          <th>Stop Loss</th>
          <th>First Target</th>
          <th>Second Target</th>
          <th>Target Met?</th>
        </tr>
      </thead>
      <tbody>
        {% for symbol in futures_options_symbols %}
        <tr>
          <td><a href="{% url 'stock_detail' symbol=symbol.symbol %}">{{ symbol.symbol }}</a></td>
          <td>{{ symbol.current_price }}</td>
          <td>{{ symbol.percentage }}%</td>
          <td>{{ symbol.stop_loss }}</td>
          <td>{{ symbol.first_target }}</td>
          <td>{{ symbol.second_target }}</td>
          <td>{{ symbol.target_met|yesno:"Yes,No" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 class="mb-4">Previous Week Performance</h2>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Percentage of First Target</th>
          <th>Stop Loss</th>
          <th>First Target</th>
          <th>Second Target</th>
          <th>Target Met?</th>
        </tr>
      </thead>
      <tbody>
        {% for symbol in previous_week_symbols %}
        <tr>
          <td><a href="{% url 'stock_detail' symbol=symbol.symbol %}">{{ symbol.symbol }}</a></td>
          <td>{{ symbol.current_price }}</td>
          <td>{{ symbol.percentage }}%</td>
          <td>{{ symbol.stop_loss }}</td>
          <td>{{ symbol.first_target }}</td>
          <td>{{ symbol.second_target }}</td>
          <td>{{ symbol.target_met|yesno:"Yes,No" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<script>

  document.querySelector('.#swot-widget > div > div > div > div:nth-child(2) > a').remove();

</script>

{% endblock %}
